No validation that DUE and DTSTART have same value type

[RFC 5545 Section 3.8.2.3.  Date-Time Due](https://datatracker.ietf.org/doc/html/rfc5545#section-3.8.2.3) says:

> For cases where this property is specified in a "VTODO" calendar component that also specifies a "DTSTART" property, the value type of this property MUST be the same as the "DTSTART" property, and the value of this property MUST be later in time than the value of the "DTSTART" property. Furthermore, this property MUST be specified as a date with local time if and only if the "DTSTART" property is also specified as a date with local time.

At https://github.com/cyrusimap/cyrus-imapd/pull/3795 I wanted to integrate validation in Cyrus IMAP on PUT, which checks for the above requirement.  This change request was superseded by https://github.com/cyrusimap/cyrus-imapd/pull/3802.

https://github.com/cyrusimap/cyrus-imapd/pull/3802 is closed with the remark “This PR has been superseded by later commits”.

Currently I find place in the code, which validates that DUE and DTSTART must have same value type.

A failing Cassandane test would be helpful here.