JMAP: WebSocket capability s/webSocketUrl/url

The WebSocket capability announced in Cyruses Session Resource has a property called `webSocketUrl`

RFC 8887 Section 3 calls this property `url`.

Fix pushed to master