Review announced support for IMAP RFCs  

Since commit 405c57dd2dde82e support for
[RFC 6154](https://tools.ietf.org/html/rfc6154) IMAP LIST Extension for Special-Use Mailboxes
[RFC 6851](https://tools.ietf.org/html/rfc6851) Internet Message Access Protocol (IMAP) - MOVE Extension
[RFC 8438](https://tools.ietf.org/html/rfc8438) IMAP Extension for STATUS=SIZE
[RFC 8440](https://tools.ietf.org/html/rfc8440) IMAP4 Extension for Returning MYRIGHTS Information in Extended LIST
is announced within imap/imapd.c.

* Mention RFC 8438, 8440 into rfc-support.rfc and for Cyrus at https://imapwiki.org/Specs
* Add support for RFC 6851, 8438 and 8440 in the corresponding release notes

Moved largely to https://mailarchive.ietf.org/arch/browse/imapext/ , with the exception of the https://imapwiki.org/Specs update



The referenced wiki doc is now found at https://github.com/dovecot/imaptest/wiki/Specs

I had actually taken care on updating https://imapwiki.org/Specs, so only this is missing:

* Add support for RFC 6851, 8438 and 8440 in the corresponding release notes



> I had actually taken care on updating https://imapwiki.org/Specs,

… only for the aforementioned bullets.  At that time not all current RFCs were included in that Wiki.