Sieve: Supported RFCs

https://www.cyrusimap.org/imap/reference/admin/sieve.html#supported-extensions states explicitly that RFC 5173 and RFC 5232 are not supported, but https://cyrusimap.org/imap/rfc-support.html contradicts these statements.

On master/docsrc/imap/rfc-support.rst, after "RFC 7540" the line "Hypertext Transfer Protocol Version 2 (HTTP/2)" has two spaces too much as prefix.

If https://www.cyrusimap.org/imap/reference/admin/sieve.html#special-use-folders means draft-ietf-extra-sieve-special-use please state so, otherwise clarify its meaning and give an example with fileinfo.

Why does imap/rfc-support.rst mention RFC 5229 both as implemented and wish-list?

RFC 5490 is according to imap/rfc-support.rst in the wishlist but https://www.cyrusimap.org/imap/reference/admin/sieve.html#supported-extensions states the RFC is implemented.

Not mentioned in admin/sieve.html are RFC 3431, 3598, 5436, 5463.

Mark in imap/rfc-suport.rst RFC 3028 as obsoleted by RFC 5228 and 5429.

All of this looks to be addressed already. Please open a new issue for each item you think needs changed, or preferable, open a pull request.