JMAP: bodyStructure or textBody cannot fetch only one MIME header.

Hello,

I'm using beta.fastmail.com as a reference server.

Getting bodyStructure or textBody MIME headers seems to works only with "headers" in the query.

If specify explicitly only one header always returns null.
 * works "headers" 
 * fails "header:ContentType:asText" 
I need to fetch extra properties at ContentType property, like format=flowed; markup=markdown

In the attachments are in JSON format are the query and both responses.

[sample_query.txt](https://github.com/cyrusimap/cyrus-imapd/files/4000532/sample_query.txt)
[one_header_fails.txt](https://github.com/cyrusimap/cyrus-imapd/files/4000530/one_header_fails.txt)
[all_headers_succeed.txt](https://github.com/cyrusimap/cyrus-imapd/files/4000531/all_headers_succeed.txt)




I'm don't think there's an issue:

- The header property in your query misses a dash, the header name is `Content-Type`, not `ContentType` (see [RFC2045, section 5](https://tools.ietf.org/html/rfc2045#section-5)).
- The `asText` header form defined in [RFC8621, section 4.1.2.2](https://tools.ietf.org/html/rfc8621#section-4.1.2.2) uses a combined white-list and blacklist definition to define the allowed headers. It forbids the use of `asText` for headers defined in RFC5322 (except for the white-listed ones). It looks to me as if this restriction also transfers to the headers of RFC2045, which is referred to by RFC5322.

I suggest for your use case to fetch the `header:Content-Type` property in `bodyProperties`, which will return the header value in `Raw` form. You can then parse the parameters you are looking for.

A query like this:

    [
      'Email/get',   
      {
        'bodyProperties' => [
          'header:Content-Type',
        ],
        'ids' => [
          'M433f3d67eb243ceada6ccec9',
        ],
        'properties' => [
          'bodyStructure',
        ],
      },
      'R1',
    ],


will return a structure like this:

          {
            "id": "M433f3d67eb243ceada6ccec9",
            "bodyStructure": {
              "header:Content-Type": " multipart/alternative; boundary=\\"047d7b33dd729737fe04d3bde348\\"",
              "subParts": [
                {
                  "header:Content-Type": " text/plain; charset=UTF-8"
                },
                {
                  "header:Content-Type": " text/html;charset=UTF-8"
                }
              ]
            }


BTW thanks for reporting this! I you agree that there's no bug in Cyrus, please close the issue. If you think there's something to fix, please let us know. Cheers.

Thanks, Its work without asText :)