Cyrus 3.0 accepts vCards with non-utf8 charsets and stores them without conversion as utf-8 data.

Cyrus 3.0 accepts vCards with non-utf-8 charsets and stores them without conversion as utf-8 data.

```
curl -D- -u u:p -XPUT  -H"Content-Type:  text/vcard; charset=iso-8859-5" -H"If-None-Match: *"  \
  -H"Prefer: return=representation" \
  http://127.0.0.3/dav/addressbooks/user/me/Default/fdah.vcf -d "
BEGIN:VCARD
VERSION:3.0
UID:jvsalme5-k7ta-pmos-v9s1-vwfn8ea0w
N:;zzzb;;;
FN:zzzb ���� ��� �
REV:20170910T123100Z
PRODID:-//ABC//DEF//EN
END:VCARD
"
```
prints
```
HTTP/1.1 201 Created
Date: xxx
Cache-Control: must-revalidate, no-transform, max-age=3600
Expires: Fri, 15 Sep 2017 20:55:58 GMT
Vary: Accept-Encoding, Prefer
ETag: "91b900c088aa05f56a41d84d2c1b545ae6e307b5"
Last-Modified: Fri, 15 Sep 2017 19:55:57 GMT
Preference-Applied: return=representation
Content-Type: text/vcard; charset=utf-8
Content-Location: /dav/addressbooks/user/me/Default/fdah.vcf
Content-Length: 170

BEGIN:VCARD
VERSION:3.0
UID:jvsalme5-k7ta-pmos-v9s1-vwfn8ea0w
N:;zzzb;;;
FN:zzzb ���� ��� �
REV:20170910T123100Z
PRODID:-//ABC//DEF//EN
END:VCARD

```

imap/http_carddav.c:store_resource(): add more checks
    
* if version= is provided in the Content-Type header, it must coincide with the VERSION in the vCard;
* if charset= is provided in the Content-Type header for vCard 4.0, it must be utf-8;
* if charset= is provided in the Content-Type header and is not utf-8, it is rejected, as the server does not convert it;
* be more communicative, when a vCard has no UID/VERSION/FN.
```diff
diff --git a/imap/http_carddav.c b/imap/http_carddav.c
--- a/imap/http_carddav.c
+++ b/imap/http_carddav.c
@@ -491,7 +491,6 @@ static int store_resource(struct transaction_t *txn,
     struct carddav_data *cdata;
     const char *version = NULL, *uid = NULL, *fullname = NULL;
     struct index_record *oldrecord = NULL, record;
-    char *mimehdr;
 
     /* Validate the vCard data */
     if (!vcard ||
@@ -527,10 +526,67 @@ static int store_resource(struct transaction_t *txn,
 
     /* Sanity check data */
     if (!version || !uid || !fullname) {
+        #define v3 " is missing (RFC 2426 Section 3)"
+        #define v4 " is missing (RFC 6350 Section 6)"
+        if (*version == '3')
+            txn->error.desc = version ? uid ? "FN" v3 : "UID" v3 : "VERSION" v3;
+        else
+            txn->error.desc = version ? uid ? "FN" v4 : "UID" v4 : "VERSION" v4;
+        #undef v3
+        #undef v4
+        /* TODO: RFC 2426 Section 3.1.2 states that N must be present in vCard 3 */
         txn->error.precond = CARDDAV_VALID_DATA;
         return HTTP_FORBIDDEN;
     }
 
+    char *mimehdr = (char*)spool_getheader(txn->req_hdrs, "content-type")[0];
+    if (strchr(mimehdr + 10, ';')) {
+        struct param *content_type_params = NULL;
+        message_parse_params(strchr(mimehdr + 10, ';') + 1, &content_type_params);
+        struct param* params_temp = content_type_params;
+        while (params_temp) {
+            if (!strcmp(params_temp->attribute, "VERSION") && strcmp(params_temp->value, version)) {
+                txn->error.precond = CARDDAV_SUPP_DATA;
+                txn->error.desc = "The version= parameter in the Content-Type header does not match the VERSION in the vCard (RFC 6320 Section 10.1)";
+                param_free(&content_type_params);
+                return HTTP_FORBIDDEN;
+            } else if (!strcmp(params_temp->attribute, "CHARSET")) {
+                charset_t charset = charset_lookupname(params_temp->value);
+                if (charset == CHARSET_UNKNOWN_CHARSET) {
+                    txn->error.precond = CARDDAV_SUPP_DATA;
+                    txn->error.desc = "Unknown charset= provided in the Content-Type header";
+                    param_free(&content_type_params);
+                    return HTTP_FORBIDDEN;
+                }
+                if (strcmp(charset_name(charset), "utf-8") && !strcmp(version, "4.0")) {
+                    txn->error.precond = CARDDAV_SUPP_DATA;
+                    txn->error.desc = "You upload vCard 4.0, but the charset= from Content-Type header is not utf-8 (RFC 6350 Section 10.1)";
+                    charset_free(&charset);
+                    param_free(&content_type_params);
+                    return HTTP_FORBIDDEN;
+                }
+                if (strcmp(charset_name(charset), "utf-8")) {
+                    /* Preliminary, until the server converts the uploaded data
+                       to utf-8 */
+                    txn->error.precond = CARDDAV_SUPP_DATA;
+                    txn->error.desc = "Server accepts only charset=utf-8";
+                    charset_free(&charset);
+                    param_free(&content_type_params);
+                    return HTTP_FORBIDDEN;
+                }
+                charset_free(&charset);
+            } //unhandled params
+            params_temp = params_temp->next;
+        }
+        param_free(&content_type_params);
+    }
+
+    if (!strncmp(mimehdr, "text/directory", 14) && strcmp(version, "3.0")) {
+        txn->error.precond = CARDDAV_SUPP_DATA;
+        txn->error.desc = "Content-Type: text/directory only for vCard 3.0 allowed";
+        return HTTP_FORBIDDEN;
+    }
+
     /* Check for changed UID on existing resource */
     carddav_lookup_resource(davdb, mailbox->name, resource, &cdata, 0);
     if (cdata->dav.imap_uid && strcmpsafe(cdata->vcard_uid, uid)) {
diff --git a/imap/message.c b/imap/message.c
--- a/imap/message.c
+++ b/imap/message.c
@@ -122,7 +122,6 @@ static void message_parse_charset(const struct body *body,
 static void message_parse_header(const char *hdr, struct buf *buf);
 static void message_parse_type(const char *hdr, struct body *body);
 static void message_parse_disposition(const char *hdr, struct body *body);
-static void message_parse_params(const char *hdr, struct param **paramp);
 static void message_fold_params(struct param **paramp);
 static void message_parse_language(const char *hdr, struct param **paramp);
 static void message_parse_rfc822space(const char **s);
@@ -149,8 +148,6 @@ static void message_write_searchaddr(struct buf *buf,
 static int message_need(const message_t *m, unsigned int need);
 static void message_yield(message_t *m, unsigned int yield);
 
-static void param_free(struct param **paramp);
-
 /*
  * Convert a string to uppercase.  Returns the string.
  *
@@ -1215,7 +1212,7 @@ static void message_parse_disposition(const char *hdr, struct body *body)
  * next ';' or end of line, which should mark the next
  * parameter.
  */
-static void message_parse_params(const char *hdr, struct param **paramp)
+EXPORTED void message_parse_params(const char *hdr, struct param **paramp)
 {
     struct param *param;
     const char *attribute;
@@ -2468,7 +2465,7 @@ static void message_write_searchaddr(struct buf *buf,
     }
 }
 
-static void param_free(struct param **paramp)
+EXPORTED void param_free(struct param **paramp)
 {
     struct param *param, *nextparam;
 
diff --git a/imap/message.h b/imap/message.h
@@ -130,7 +130,7 @@ struct body {
     struct message_guid guid;
 };
 
-/* List of Content-type parameters */
+/* List of Content-Type, Content-Disposition or Language parameters */
 struct param {
     struct param *next;
     char *attribute;
@@ -170,6 +170,7 @@ extern void message_fetch_part P((struct message_content *msg,
                                   struct bodypart ***parts));
 extern void message_write_nstring(struct buf *buf, const char *s);
 extern void message_write_nstring_map(struct buf *buf, const char *s, unsigned int len);
+extern void message_parse_params(const char *hdr, struct param **paramp);
 extern void message_write_body(struct buf *buf, const struct body *body,
                                   int newformat);
 extern void message_write_xdrstring(struct buf *buf, const struct buf *s);
@@ -177,6 +178,7 @@ extern int message_write_cache P((struct index_record *record, const struct body
 
 extern int message_create_record P((struct index_record *message_index,
                                     const struct body *body));
+extern void param_free(struct param **paramp);
 extern void message_free_body P((struct body *body));
 
 /* NOTE - scribbles on its input */

```
