Emai/parse does not like attached messages with no From header

Email/parser won't parse an email with no From header.

It probably should?

`Email/parse` is defined as

> This method allows you to parse blobs as [@!RFC5322] messages to get Email objects. 

But [RFC5322 section 3.6](https://tools.ietf.org/html/rfc5322#section-3.6) requires a message to have both a `Date` and `From` header to be valid.

We could trivially return an Email object with `from: null`, but it wouldn't represent a valid 5322 message, so I'm not sure if to allow that.