Update docstr/imap/rfc-support.rst

Please clarify, whether the implementation supersedes draft-ietf-calext-availability by RFC 7953.

Why does https://cyrusimap.org/imap/rfc-support.html end with:

    RFC Wishlist:
    RFC 6851

        Internet Message Access Protocol (IMAP) - MOVE Extension

        New in version 2.5.0. 

If it implemented in 2.5, then it is no more on the wishlist.

On a personal note, I don't understand why a direct email mentioning these topics isn't handled even partially, at least with the most obvious stuff (see below), but it is insisted to write tickets.

rfc-support.rst states that draft-daboo-calendar-availability and draft-ietf-calext-availability are implemented, but the latter is successor of the former, so mentioning the former is redundant.

```diff --git a/docsrc/imap/rfc-support.rst b/docsrc/imap/rfc-support.rst
--- a/docsrc/imap/rfc-support.rst
+++ b/docsrc/imap/rfc-support.rst
@@ -145,7 +145,7 @@ The following is an inventory of RFCs supported by Cyrus IMAP.
 :rfc:`2445`
 
     Internet Calendaring and Scheduling Core Object Specification
-    (iCalendar)
+    (iCalendar), obsoleted by :rfc:`5545`
 
 :rfc:`2449`
 
@@ -554,7 +554,7 @@ The following is an inventory of RFCs supported by Cyrus IMAP.
 
     IMAP LIST Extension for Special-Use Mailboxes
 
-:rfc:`6231`
+:rfc:`6321`
 
     xCal: The XML Format for iCalendar
 

```

Amendments made, thanks!

https://www.cyrusimap.org/imap/download/installation/http/caldav.html says RFC 7808 and RFC 7809 are implemented, but imap/rfc-support.html  speaks about draft-ietf-tzdist-service and draft-ietf-tzdist-caldav-timezone-ref .

rfc-supports.rst contains under RFC DRAFTS:
 -- draft-murchison-webdav-prefer this is superseeded by RFC 8144.  If RFC 8144 is not supported, please write this explicitly in rfc-supports.rst to avoid confusions.

Likewise for 
 * draft-daboo-imap-annotatemore - RFC 5464;
 * draft-martin-sieve-notify - RFC 5435;
 * draft-ietf-httpauth-basicauth-update  - RFC 7617;
 * draft-ietf-httpauth-digest - RFC 7616; 
 * draft-ietf-httpbis-auth-info - RFC 7615 and
 * draft-ietf-httpbis-cice - RFC 7694

